In [1]:
import pandas as pd
import glob

In [3]:
target = {'NORMAL': 0, 'DRUSEN': 1, 'CNV': 2, 'DME': 3}
src_path = '..'


training_set = []

for label in glob.glob(src_path + "/train/*"):
    for abs_path in glob.glob(src_path + "/train/{0}/*".format(label.split('/')[-1])):
        training_set.append([abs_path, label.split('/')[-1]])
df_train = pd.DataFrame(training_set).rename(columns={0: "path", 1: "target"})

df_train['subject'] = df_train['path'].apply(lambda x: x.split('/')[-1].split('-')[1])
df_train['serial'] = df_train['path'].apply(lambda x: x.split('/')[-1].split('-')[2].split('.')[0])
df_train['image'] = df_train['path'].apply(lambda x: x.split('/')[-1])
df_train['source'] = 'train'

test_set = []
for label in glob.glob(src_path + "/test/*"):
    for abs_path in glob.glob(src_path + "/test/{0}/*".format(label.split('/')[-1])):
        test_set.append([abs_path, label.split('/')[-1]])
df_test = pd.DataFrame(test_set).rename(columns={0: "path", 1: "target"})

df_test['subject'] = df_test['path'].apply(lambda x: x.split('/')[-1].split('-')[1])
df_test['serial'] = df_test['path'].apply(lambda x: x.split('/')[-1].split('-')[2].split('.')[0])
df_test['image'] = df_test['path'].apply(lambda x: x.split('/')[-1])
df_test['source'] = 'test'
df_test

df = pd.concat([df_train, df_test])
df['target'] = df['target'].apply(lambda x: target[x])
df.head()

,path,target,subject,serial,image,source
0,../train/DRUSEN/DRUSEN-3086272-13.jpeg,1,3086272,13,DRUSEN-3086272-13.jpeg,train
1,../train/DRUSEN/DRUSEN-5743416-32.jpeg,1,5743416,32,DRUSEN-5743416-32.jpeg,train
2,../train/DRUSEN/DRUSEN-5434336-6.jpeg,1,5434336,6,DRUSEN-5434336-6.jpeg,train
3,../train/DRUSEN/DRUSEN-9547888-18.jpeg,1,9547888,18,DRUSEN-9547888-18.jpeg,train
4,../train/DRUSEN/DRUSEN-9059831-2.jpeg,1,9059831,2,DRUSEN-9059831-2.jpeg,train

In [4]:
df.to_csv('kermany_metadata.csv', index=False)